<!--  show all employee from data  -->
<!-- <table border="1">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th>salary</th>
        <th>
          <a href="{% url 'employee:add' %}">add</a>
        </th>
      </tr>
      {% for employee in data.employees %}
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.salary}}</td>
        <td>
          <a href="{% url 'employee:edit' employee.id %}">edit</a>
          <a href="{% url 'employee:delete' employee.id %}">delete</a>
        </td>
        end of td
      </tr>
      {% endfor %}
    </table> -->
<!-- end of table -->
